/* Generics */

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* flex */

.flex {
    display: flex;
}




.main-header {
 height: 10vh;
 background-color: white;
 width: 100%;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
}

.main-header *{

    gap: 30px;
}

#button1 {
 background-color:#0061ff;
 padding: 3px 5px;
 margin: -3px;
 color: white;
 
}

a {
    text-decoration: none;
    color: black;
}

.second-header {
    height: 600px;
    background-color: #b4d0e7;

}

.center-header {
    margin: 0px 300px;
    background-color: red;
    padding: 100px;
}

h1 {
    font-size: 55px;
}